<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/layouts/plantilla1 :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="/layouts/plantilla1 :: header"></header>
        <div class="alert  w-75 mx-auto mt-4" role="alert" style="background-color: #5b3924">
            <h2 style="color : #f2eadc" class="card-title ml-4 mt-2">
                Menú
            </h2>
        </div>
        <div class="container">
            <div class="card-deck">
                <div class=" row row-cols-3 row-cols-md-2">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="ml-2 alert-link text-decoration-none" style="color: #5b3924" th:href="@{/ventas/menu}"> 
                                        <i class="fas fa-book-reader"></i>
                                        [[#{ventas.consultar-menu}]]
                                    </a>
                                </h5>
                                <p class="card-text ml-4">Consulta todas las bebidas disponibles en nuestro negocio, preparados con el maximo cuidado y cariño.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_CLIENTE')">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="ml-2 alert-link text-decoration-none" style="color: #5b3924" th:href="@{/ventas/menu}"> 
                                            <i class="fas fa-plus"></i>
                                            [[#{ventas.registrar-nueva-orden}]]
                                        </a>
                                    </h5>
                                    <p class="card-text ml-4">Registra una orden nueva para agregarla a la lista de pendientes.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_BARISTA','ROLE_ADMIN')">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="ml-2 alert-link text-decoration-none" style="color: #5b3924" th:href="@{/ventas/menu}"> 
                                            <i class="fas fa-plus"></i>
                                            [[#{ventas.registrar-nueva-orden}]]
                                        </a>
                                    </h5>
                                    <p class="card-text ml-4">Registra una orden nueva para agregarla a la lista de pendientes.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_BARISTA','ROLE_ADMIN')">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="ml-2 alert-link text-decoration-none" style="color: #5b3924" th:href="@{/ventas/atender-orden}"> 
                                            <i class="fas fa-blender"></i>
                                            [[#{ventas.atender-orden}]]
                                        </a>
                                    </h5>
                                    <p class="card-text ml-4">Consulta todas las bebidas disponibles en nuestro negocio, preparados con el maximo cuidado y cariño.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_BARISTA','ROLE_ADMIN')">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="ml-2 alert-link text-decoration-none" style="color: #5b3924" th:href="@{/ventas/cola-ordenes}"> 
                                            <i class="fas fa-list-ol"></i>
                                            [[#{ventas.consultar-lista-ordenes}]]
                                        </a>
                                    </h5>
                                    <p class="card-text ml-4">Consulta todas las bebidas disponibles en nuestro negocio, preparados con el maximo cuidado y cariño.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
