/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2020, 10:08:57 AM
    Author     : marcos
*/

.p-bg-1{
    background-color: #17252A;
}
.p-bg-2{
    background-color: #2b7a78;
}
.p-bg-3{
    background-color: #3aafa9;
}
.p-bg-4{
    background-color: #def2f1;
}
.p-bg-5{
    background-color: #feffff;
}
.p-bg-6{
    background-color: #f5f5f5;
}
.p-color-1{
   color: #17252A;
}
.p-color-2{
    color: #2b7a78;
}
.p-color-3{
    color: #3aafa9;
}
.p-color-4{
    color: #def2f1;
}
.p-color-5{
    color: #feffff;
}
.p-color-6{
    color: #f5f5f5;
}