<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/plantilla1 :: head">
        <title>Cafes</title>
    </head>
    <body style="background-color:#f2eadc" >
        <header th:replace="layouts/plantilla1 :: header">
            
        </header>
        <div class="card border-light mb-3" >
            
            <div class="card-header">
                <h2 class="ml-3">
                    Bienvenido a Brew-bar Grano de Café
                </h2>
            </div>
        </div>
        <div class="fixed-bottom">
            <footer th:replace="layouts/plantilla1 :: footer">
            </footer>
        </div> 
    </body>
</html>
